---
import Layout from "../../layouts/Layout.astro";
import Testimonial from "components/Testimonials";
---

<Layout title="The Build Cap: Get the Best">
   <section
      class="w-full md:py-[4.5rem] md:pt-[2.5rem] container px-container-base lg:px-container-lg xl:px-container-xl overflow-x-hidden relative max-w-[1700px] mt-24"
   >
      <div class="w-full flex flex-col gap-[2.5rem]">
         <h3
            class="text-center text-secondary-2 font-[600] leading-[3.5rem] tracking-[-0.05rem] text-[1.7rem] md:text-[2.5rem]"
         >
            What our clients say about us
         </h3>
         <Testimonial client:only />
      </div>
   </section>

   <section class="w-full px-container-base lg:px-container-lg xl:px-container-xl py-[2.5rem]">
   </section>
</Layout>
