---
import Layout from "../../layouts/Layout.astro";
import TextFormat from "lib/helpers/TextFormat";
import blueCheck from "assets/blueCheck.svg";
const pricingOptions = [
   {
      features: [
         "Create your unique profile ",
         "Include a video introduction",
         "Add your work history",
         "Specify your salary expectations",
      ],
   },
];
---

<Layout title="The BuildCAP: Get the Best">
   <section
      class="w-full pt-4 md:py-[4.5rem] md:pt-[4.5rem] container px-container-base lg:px-container-lg xl:px-container-xl overflow-x-hidden relative max-w-[1700px] mt-24 flex flex-col gap-16 md:gap-[10rem]"
   >
      <div
         class="w-full flex flex-col md:grid md:grid-cols-[1fr_1fr] gap-[1.5rem] md:gap-[2.75rem] relative"
      >
         <div class="flex-grow gap-6 md:gap-10 flex justify-center 2xl:gap-8 flex-col">
            <p
               class="p-4 px-6 md:p-4 md:px-8 text-primary-1 rounded-full text-lg md:text-2xl font-[900] bg-primary-1/5 w-fit"
            >
               Let's Flip the script
            </p>
            <h1
               class="font-[600] text-secondary-2 text-left text-[2rem] md:text-[4.4rem] leading-[130%] md:leading-[5rem] tracking-[0.02rem] md:tracking-[0.0225rem] transition-all duration-500 ease-in-out max-w-[40rem] lg:ml-[-0.2rem]"
            >
               <TextFormat
                  text={"This is the New Way To Get Hired!"}
                  keyword={"New"}
                  keywordClassName="text-primary-1 transition-all duration-500 ease-in-out"
               />
            </h1>

            <div
               class="flex items-center gap-4 transition-all duration-500 ease-in-out mb-5 md:mb-0 md:ml-[-6px]"
            >
               <a href="/" class="">
                  <div
                     class="flex items-center gap-2 justify-center bg-primary-1 py-2 px-4 pr-6 rounded-lg"
                  >
                     <img src="/svgs/playWhite.svg" class="w-[1.5rem] h-[1.5rem]" />

                     <div>
                        <p class="text-white text-sm font-light tracking-wider">Get it on</p>
                        <p class="text-white text-base font-semibold tracking-wider">Google Play</p>
                     </div>
                  </div>
               </a>
               <a href="/" class="">
                  <div
                     class="flex items-center gap-2 justify-center bg-primary-1 py-2 px-4 pr-6 rounded-lg"
                  >
                     <img
                        src="/svgs/iosWhite.svg"
                        class="w-[1.5rem] h-[1.5rem] lg:w-[2rem] lg:h-[2rem]"
                     />

                     <div>
                        <p class="text-white text-sm font-light tracking-wider">Get it on</p>
                        <p class="text-white text-base font-semibold tracking-wider">App Store</p>
                     </div>
                  </div>
               </a>
            </div>
         </div>

         <section>
            <div
               class="flex flex-col rounded-3xl items-end justify-between w-full h-full min-h-[25.375rem] max-h-[45rem] lg:min-h-[30.375rem] 2xl:min-h-[40.375rem] relative"
               style={{
                  background: `linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('/images/about/hero.jpg')`,
                  backgroundSize: "cover",
                  backgroundPosition: "center",
               }}
            >
            </div>
         </section>
      </div>
      <div
         class="w-full flex flex-col-reverse md:grid md:grid-cols-[1fr_1fr] gap-[1.5rem] md:gap-[2.75rem] relative"
      >
         <section>
            <div
               class="flex flex-col rounded-3xl items-end justify-between w-full h-full min-h-[25.375rem] max-h-[45rem] lg:min-h-[30.375rem] 2xl:min-h-[40.375rem] relative"
               style={{
                  background: `linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url('/images/about/hero1.jpg')`,
                  backgroundSize: "cover",
                  backgroundPosition: "center",
               }}
            >
            </div>
         </section>
         <div class="flex-grow gap-6 flex justify-center 2xl:gap-8 flex-col">
            <p class="p-2 px-6 text-primary-1 rounded-full text-xl font-[900] bg-primary-1/5 w-fit">
               Join The BuildCAP!
            </p>
            <h1
               class="font-[600] text-secondary-2 text-left text-[1.4rem] md:text-[1.5rem] leading-[130%] md:leading-[2.5rem] tracking-[0.02rem] md:tracking-[0.0225rem] transition-all duration-500 ease-in-out lg:ml-[-0.2rem]"
            >
               <TextFormat
                  text={"We want you to benefit from the ability to showcase your profile to employers without having to only apply to specific jobs."}
                  keyword={"Story"}
                  keywordClassName="text-primary-1 transition-all duration-500 ease-in-out"
               />
            </h1>

            {
               pricingOptions.map((option) => (
                  <div class="flex flex-col gap-[1.75rem] py-[1.5rem] bg-white lg:bg-transparent w-full lg:max-w-[25.375rem]">
                     <div class="flex flex-col gap-[1.5rem]">
                        {option.features.map((feature) => (
                           <div class="flex items-center gap-[1rem]">
                              {/* Assuming you still want to use the blueCheck image for each feature */}
                              <img class="w-[1rem]" src={blueCheck} alt="" />
                              <span class="text-gray-500 leading-[1.5rem]">{feature}</span>
                           </div>
                        ))}
                     </div>

                     <button class="w-fit px-8 py-4 rounded-[0.5rem] bg-primary-1 shadow-1 hover:opacity-90 active:opacity-100 transition-opacity duration-300 ease-in-out">
                        <span class="text-white  font-[500] leading-[1.5rem] tracking-[0.02875rem]">
                           <a href="/">
                              Get Started <span class="ml-2">→</span>
                           </a>
                        </span>
                     </button>
                  </div>
               ))
            }
         </div>
      </div>
   </section>

   <section class="w-full px-container-base lg:px-container-lg xl:px-container-xl py-[2.5rem]">
   </section>
</Layout>
